/* resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* debug rules */
.debug>.content {
    height: 900px;
    background-color: aqua;
}

/* content */
.content {
    margin:2% 15%;
}

.cloth:nth-of-type(3n+2) {
    margin: 0 2%;
}

.cloth {
    width: 32%;
    position: relative;
}

img {
    width: 100%;
}

.cloth {
    float: left;
}

h1 {
    font-size: 10px;
}

/* targhette */
.discount {
    background-color: red;
    width: 50px;
    height: 30px;
    position: absolute;
    top: 370px;
    left: 0px;
}

.green {
    background-color: green;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 370px;
    left: 60px;
}

.heart {
    background-color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 0;
}

h4 {
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
}

.verde {
    font-size: 16px;
    color: white;
    margin-top: 6px;
    margin-left: 6px;
}

.sconto {
    font-size: 20px;
    color: white;
    margin-top: 3px;
    margin-left: 3px;
}

/* effetti */
.dress3 {
    transition: position 0s;
}

.dress3:active {
    position: relative;
    top: 10px;
    left: 10px;
}