/* resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* debug rules */
.debug>.content {
    height: 900px;
    background-color: aqua;
}

/* content */
.content {
    margin:2% 15%;
}

.cloth:nth-of-type(3n+2) {
    margin: 0 2%;
}

.cloth {
    width: 32%;
    position: relative;
}

img {
    width: 100%;
}

.cloth {
    float: left;
}

h1 {
    font-size: 10px;
}

.discount {
    background-color: red;
    width: 50px;
    height: 30px;
    position: absolute;
    top: 370px;
    left: 0px;
}

.green {
    background-color: green;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 370px;
    left: 60px;
}
